<table class="data-table data-table--lined data-table--zebra data-table--tight">
  <thead>
    <tr>
      <th>Fractie</th>
      <th>Lid vanaf</th>
      <th>Voornaam &amp; Familienaam</th>
      <th>Mandaten</th>
    </tr>
  </thead>
  <tbody>
    {{#each mandatarissen as |mandataris|}}
      {{editor-plugins/fractievorming-mandatarissen-table-row
        mandataris=mandataris
        fracties=fracties
        bestuurseenheid=bestuurseenheid
        bestuursorgaan=bestuursorgaan
      }}
    {{/each}}
  </tbody>
</table>
{{yield}}
